<h1>{{ page.title }}</h1>
{{ page.content }}

{% schema %}
{
  "name": "FAQ",
  "settings": [],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [{ "type": "text", "id": "title", "label": "Category Title" }]
    }
  ]
}
{% endschema %}
